<div class="container">
  <h2 class="title">💡 Liste des suggestions</h2>

  
  <input
    type="text"
    class="search-input"
    placeholder="Rechercher par titre ou catégorie..."
    [(ngModel)]="searchText"
  />

  
  <div *ngFor="let s of filteredSuggestions" class="card">

    
    <h3>{{ s.title }}</h3>

    <div class="meta">
      <span class="category">{{ s.category }}</span>
      <span class="date">{{ s.date | date:'dd MMM yyyy' }}</span>
    </div>

    <p>{{ s.description }}</p>

    
    <span class="badge" [ngClass]="getStatusClass(s.status)">
      {{ s.status }}
    </span>

    <div class="actions" *ngIf="s.status !== 'refusee'">

      <!-- Event binding -->
      <button class="btn like" (click)="likeSuggestion(s)">
        👍 Like {{ s.nbLikes }}
      </button>

      <button class="btn fav" (click)="addToFavorites(s)">
        ⭐ Ajouter aux favoris
      </button>

    </div>
  </div>
</div>
