    <div *ngFor="let s of filteredSuggestions()" class="card mb-3">
  <div class="card-body">

    <h5>{{ s.title }}</h5>

    <small>
      <strong>{{ s.category }}</strong> · {{ s.date | date:'dd MMM yyyy' }}
    </small>

    <p>{{ s.description }}</p>

    <span *ngIf="s.status === 'acceptee'" class="badge bg-success">ACCEPTÉE</span>
    <span *ngIf="s.status === 'refusee'" class="badge bg-danger">REFUSÉE</span>
    <span *ngIf="s.status === 'en_attente'" class="badge bg-warning">EN ATTENTE</span>

    <div *ngIf="s.status !== 'refusee'" class="actions">
      <button class="btn btn-primary" (click)="likeSuggestion(s)">
        👍 Like {{ s.nbLikes }}
      </button>

      <button class="btn btn-outline-secondary" (click)="addToFavorites(s)">
        ⭐ Ajouter aux favoris
      </button>
    </div>

  </div>
</div>


